.spec-offers__item{
  padding: 17px 28px 24px 19px;
  width: 48.9%;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  box-sizing: border-box;

  background: center no-repeat;
  border-radius: 15px;
}
