.user-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  margin-left: 10px;
  padding-right: 16px;
  padding-left: 16px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 16px;
  &:hover,
  &:focus-within{
    background-color: $light-bg-color;
    color: #000;
  }
  &.focus-within{
    background-color: $light-bg-color;
    color: #000;
  }
  svg{
    fill: currentColor;
    margin-right: 8px;
  }
  &_search{
    padding: 0;
    svg{
      width: 17px;
      height: 17px;
      margin-right: 0;
    }
  }
  &_login{
    padding-left: 16px;
    padding-right: 16px;
    svg{
      width: 21px;
      height: 19px;
    }
  }
  &_basket{
    svg{
      width: 21px;
      height: 20px;
    }
  }
}

