.cart-text{
  font-size: rem(13px, 16);
  line-height: 1rem;
  color: $font-color-dark;
  &_highlighted{
    color: #999;
  }
  &_big{
    font-size: rem(15px, 16);
    line-height: rem(18px, 16);
    font-weight: 700;
  }
}
