.custom-input{
  position: relative;
  span{
    font-size: rem(16px, $base-font);
    line-height: rem(18px, $base-font);
    font-weight: 500;
    color: #fff;
    &:before{
      opacity: 0.8;
    }
  }
  &:hover > span:before{
    opacity: 1;
  }
}
