$font-color-dark: #323232;
$light-bg-color: #f8f7f4;
$general-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);

//font size
// задавать в пикселах
$font-size-small: 14px;
$line-height-small: 16px;
$font-size-big: 22px;
$line-height-big: 24px;
