.caption{
  font-weight: 700;
  text-align: center;
  &_light{
    color: #fff;
  }
  &_offer{
    max-width: 680px;
    width: 100%;
    font-size: rem(60px, 16);
    line-height: rem(60px, 16);
  }
}
