.header-text{
  margin-bottom: 5px;
  font-size: #{$font-size-small / 16px}em;
  line-height: #{$line-height-small / $font-size-small}em;
  font-weight: bold;
  color: #fff;
  &:last-child{
    margin-bottom: 0;
  }
}

.header-text_right{
  display: block;
  text-align: right;
}


.header-text_big{
  font-size: #{$font-size-big / 16px}em;
  line-height: #{$line-height-big / $font-size-big}em;
}
