.form{
  box-sizing: border-box;
  background-color: $light-bg-color;
  box-shadow: $general-shadow;
  border-radius: 5px;
}

.form_search{
  padding: 15px 20px;
  min-width: 340px;
}

.form_login{
  padding: 20px 18px;
  min-width: 277px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form_cart{
  padding: 20px 15px;
}
