.custom-input_checkbox{
  padding-left: 33px;
  padding-right: 15px;
  span:before{
    content: "";
    width: 24px;
    height: 21px;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    background: top left no-repeat url("../img/icon/checkbox.svg#check-off");
  }

  input:checked ~ span:before{
    background: top left no-repeat url("../img/icon/checkbox.svg#check-on");
    left: 2px;
  }
}
