.footer__navs{
  max-height: rem(50px, $base-font);
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  flex: 0 0 25%;

  list-style: none;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: rem(42px, $base-font);
  }
}

