.nav__subitem{
  padding: rem(9px, 16) rem(20px, 16);
  font-size: rem(14px, 16);
  line-height: 1rem;
  &:first-child{
    padding-top: rem(14px, 16);
    border-radius: $sublist-radius $sublist-radius 0 0;
  }
  &:last-child{
    padding-bottom: rem(14px, 16);
    border-radius: 0 0 $sublist-radius $sublist-radius;
  }
  &:hover{
    background-color: #fbded7;
  }
  &:active{
    background-color: #f6b5a5;
  }
  & > a{
    color: $font-color-dark;
    white-space: nowrap;
    text-decoration: none;
  }
  &_active{
    background-color: #d07058;
    color: #fff;
    & > a{
      color: #fff;
    }
  }
  &_important{
    font-weight: 700;
    position: relative;
    padding-bottom: rem(17px, 16);
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 5%;
      top: calc(100% - 3px);
      height: 1px;
      width: 90%;
      background-color: #353535;
      opacity: 0.2;
    }
  }
}
