.custom-input_radio{
  $color: #fff;
  padding-left: 25px;
  span:before{
    content: "";
    width: 8px;
    height: 8px;
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50%;
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px $color;
    background-clip: content-box;
  }

  input:checked ~ span:before{
    background-color: #fff;
  }
}
