.page{
  min-width: 850px;
  max-width: 1200px;
  margin: auto;
  background-repeat: no-repeat;
}

.page_1{
  background-color: #849d8f;
  background-image: radial-gradient(circle at center 320px, #cbf1dc 0, transparent 500px);
}

.page_2{
  background-color: #8996a6;
  background-image: radial-gradient(circle at center 320px, #cce0f1 0, transparent 500px);
}

.page_3{
  background-color: #9d8b84;
  background-image: radial-gradient(circle at center 320px, #edd7cf 0, transparent 500px);
}
