.filter__item{
  padding: 15px 15px 10px 15px;
  min-height: rem(37px, $base-font);
  box-sizing: border-box;

  background-color: rgba(248, 247, 244, 0.2);
  font-size: rem(16px, $base-font);
  line-height: rem(18px, $base-font);
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 20px;
  outline: none;

  &:hover,
  &:focus{
    color: $font-color-dark;
  }
}
