.hover-visible{
  $visible-index: 2;
  // display: none;
  // visibility: hidden;
  opacity: 0;
  z-index: -1;
  &:hover,
  &:focus-within
  {
    // display: block;
    // visibility: visible;
    z-index: $visible-index;
    opacity: 1;
  }
  &.focus-within{
    //Для IE, работает с плагином focus-within-polyfill.js
    //запись отделена от &:focus-within специально.
    //иначе в IE не работает
    // display: block;
    // visibility: visible;
    z-index: $visible-index;
    opacity: 1;
  }
}
